{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.css": ["prettier --write", "stylelint \"**/*.css\""],
  "*.{json,md}": ["prettier --write"],
  "*.{test,spec}.{js,jsx,ts,tsx}": ["vitest --run"]
}
